@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

.summoner-main-page {
  font-family: 'proxima-nova', sans-serif !important;
  font-weight: lighter;
  font-size: 16px;
  background-color: rgb(56, 52, 52);
  max-width: 90%;
  margin: 0 auto;
}

.summ-card-info-container {
  width: auto; /* Combined width of "2" and "3" */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(135, 253, 188);
}

.summoner-info-main-container {
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.summ-stats {
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: auto;
}

.summ-ranked-flex-wr-container {
  width: 25%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  background-color: rgb(135, 253, 188);
  position: relative;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}

.summ-match-history-container {
  width: 75%;
  background-color: gray;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  height: 1000px;
}


.ranked-info-container, .champ-wr-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  background-color: gray;

}

