@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

body {
  color: #FFFFFF;
}
.summoner-info-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
}
.summoner-info-bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: sticky;
  top: 60px;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.gradient-container {
  position: sticky;
  top: 60px;
  width: 100%;
  height: 800px;
  margin-top: -700px;
}
.gradient {
  z-index: 1999;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% -50px;
    background-image: radial-gradient(50% 40% at 48% 23%,rgba(7,7,32,0) 20%,#070720 100%),linear-gradient(90deg,#070720,rgba(7,7,32,0)),linear-gradient(0deg,#070720 10%,rgba(7,7,32,0));
}
.summoner-main-page {
  font-family: 'proxima-nova', sans-serif !important;
  font-weight: lighter;
  font-size: 16px;
  background-color: rgb(56, 52, 52);
  max-width: 90%;
  margin: 0 auto;
}

.summ-card-info-container {
  width: auto; /* Combined width of "2" and "3" */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(7, 7, 32);
}

.summoner-info-main-container {
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #070720;
}

.summ-stats {
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: auto;
}

.summ-ranked-flex-wr-container {
  width: 25%;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  background-color: #191937;
  position: relative;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}

.summ-match-history-container {
  overflow: auto;
  width: 75%;
  background-color: #191937;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  height: 1000px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(7, 7, 32);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ranked-info-container, .champ-wr-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  background-color: #191937;

}

